# TinyPNG APIキー (https://tinypng.com/developers で取得)
TINYPNG_API_KEY=pnSVGk4tyDvXf27KKWwTxY9Lvd8PdQ2z

# browser-sync のプロキシ先
# 動的サイト: プロキシ先URLを設定 (例: http://example.local/)
# 静的サイト: 空にする → public を直接配信する
BS_PROXY=http://example.local/

# browser-sync のポート
BS_PORT=8080
