@use '../global' as *;

.p-gold {
	padding-block: rm(60);

	// ******** responsive(pc)
	@include mq(pc) {
		padding-block: rm(86) rm(90);
	}
}

.p-gold__inner {
	// ******** responsive(pc)
	@include mq(pc) {
		max-width: calc(rm(902) + rm($pc-sidePadding) * 2);
	}
}

.p-gold__content {
}

.p-gold__news {
}

.p-gold__newsHeading {
	position: relative;
	padding-block-start: rm(51);

	// ******** responsive(pc)
	@include mq(pc) {
		padding-block-start: rm(58);
	}
}

.p-gold__pop {
	position: absolute;
	top: 0;
	left: 50%;
	translate: -50% 0;
	padding: rm(3) rm(32) rm(4) rm(33);
	color: $white;
	text-align: center;
	font-size: rm(20);
	font-weight: 700;
	line-height: 1.55;
	border-radius: 100vmax;
	background: $color-accent-001;

	// ******** responsive(pc)
	@include mq(pc) {
		padding: rm(6) rm(44) rm(7) rm(43);
		font-size: rm(24);
		line-height: 1.29;
	}

	&::before {
		display: block;
		position: absolute;
		bottom: rm(-8);
		left: 50%;
		translate: -50% 0;
		width: rm(18);
		height: rm(10);
		background: $color-accent-001;
		clip-path: polygon(0 0, 100% 0, 100% 100%);
		content: '';

		// ******** responsive(pc)
		@include mq(pc) {
			bottom: rm(-9);
			width: rm(22);
			height: rm(12);
		}
	}
}

.p-gold__newsBody {
	margin-block-start: rm(33);

	// ******** responsive(pc)
	@include mq(pc) {
		margin-block-start: rm(32);
	}
}

.p-gold__newsBannerWrapper {
	position: relative;
}

.p-gold__newsBanner {
	border-radius: rm(5);
	overflow: hidden;

	img {
	}
}

.p-gold__bannerPrice {
	position: absolute;
	bottom: rm(55);
	left: rm(18);
	color: $white;
	font-family: $ff-serif;
	font-size: rm(49);
	font-weight: 700;
	line-height: 1;
	text-shadow: rm(5) rm(4) rm(4) rgba(0, 0, 0, 0.7);

	// ******** responsive(pc)
	@include mq(pc) {
		left: unset;
		right: rm(43);
		bottom: rm(107);
		font-size: rm(81);
		letter-spacing: -0.01em;
	}

	span {
		font-size: rm(16);
		font-weight: 700;
		line-height: 1.5;
		letter-spacing: -0.1em;

		// ******** responsive(pc)
		@include mq(pc) {
			font-size: rm(33);
		}
	}
}

.p-gold__bannerTime {
	position: absolute;
	min-width: rm(190);
	bottom: rm(17);
	left: rm(14);
	padding: rm(4) rm(10) rm(5);
	border-radius: 100vmax;
	background: $color-main;
	font-family: $ff-serif;
	color: $white;
	font-size: rm(16);
	font-weight: 900;
	line-height: 1.4;
	white-space: nowrap;
	text-align: center;

	// ******** responsive(pc)
	@include mq(pc) {
		left: unset;
		right: rm(39);
		bottom: rm(51);
		min-width: rm(325);
		padding: rm(4) rm(10) rm(6);
		font-size: rm(26);
	}
}

.p-gold__rate {
	margin-block-start: rm(60);

	// ******** responsive(pc)
	@include mq(pc) {
		margin-block-start: rm(88);
	}
}

.p-gold__rateHeading {
}

.p-gold__rateBody {
	margin-block-start: rm(24);

	// ******** responsive(pc)
	@include mq(pc) {
		margin-block-start: rm(36);
	}
}

.p-gold__rateBox {
}

.p-gold__rateBoxTitle {
	padding: rm(14) rm(29) rm(14) rm(29);
	background: $color-main;
	border-radius: rm(5) rm(5) 0 0;

	// ******** responsive(pc)
	@include mq(pc) {
		position: relative;
		padding: rm(12) rm(30);
	}
}

.p-gold__rateTitle {
	color: $white;
	text-align: center;
	font-size: rm(22);
	font-weight: 700;
	line-height: 1.6;

	// ******** responsive(pc)
	@include mq(pc) {
		font-size: rm(24);
		line-height: 1.8;
	}
}

.p-gold__rateDate {
	margin-block-start: rm(3);
	color: $white;
	text-align: center;
	font-size: rm(12);
	font-weight: 500;
	line-height: 1.8;

	// ******** responsive(pc)
	@include mq(pc) {
		position: absolute;
		top: 43%;
		translate: 0 -50%;
		right: rm(22);
	}
}

.p-gold__rateTime {
}

.p-gold__rateTableWrapper {
	padding: rm(24) rm(20);
	overflow: hidden;
	background: $color-bg;
	border-radius: 0 0 rm(5) rm(5);

	// ******** responsive(pc)
	@include mq(pc) {
		padding: rm(32) rm(40);
	}
}

.p-gold__rateList {
	display: flex;
	flex-direction: column;
	gap: rm(23);

	// ******** responsive(pc)
	@include mq(pc) {
		gap: rm(22);
	}
}

.p-gold__rateItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: rm(6);

	// ******** responsive(pc)
	@include mq(pc) {
		flex-direction: row;
		align-items: center;
		gap: rm(19);
	}
}

.p-gold__rateItemHead {
	display: inline-block;
	min-width: rm(260);
	padding: rm(6) rm(16) rm(7);
	border-radius: 100vmax;
	background: #ff8e23;
	color: $white;
	text-align: center;
	font-size: rm(18);
	font-weight: 800;
	line-height: 1.3;

	// ******** responsive(pc)
	@include mq(pc) {
		padding: rm(8) rm(12) rm(9);
		font-size: rm(18);
	}
}

.p-gold__rateItemBody {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: rm(8);

	// ******** responsive(pc)
	@include mq(pc) {
		flex-shrink: 0;
	}
}

.p-gold__rateItemPrice {
	text-align: right;
	font-family: $ff-en;
	font-size: rm(36);
	font-weight: 700;
	line-height: 1;

	span {
		margin-inline-start: rm(4);
		text-align: center;
		font-family: $ff-ja;
		font-size: rm(20);
		font-weight: 800;
		line-height: 1.7;
	}
}

.p-gold__rateItemDifference {
	color: #f00;
	font-size: rm(22);
	font-weight: 800;
	line-height: 1.7;
}
