@use '../global' as *;

.p-item {
	display: flex;
	flex-direction: column-reverse;
	gap: rm(10);

	// ******** responsive(pc)
	@include mq(pc) {
		gap: rm(20);
	}
}

.p-item__textArea {
}

.p-item__title {
	color: $white;
	text-align: center;
	font-size: rm(20);
	font-weight: 600;
	line-height: 1.5;

	// ******** responsive(pc)
	@include mq(pc) {
		font-size: rm(28);
	}
}

.p-item__en {
	margin-block-start: rm(2);
	color: #d2d2d2;
	text-align: center;
	font-family: $ff-en;
	font-size: rm(14);
	font-weight: 300;
	line-height: 1.3;

	// ******** responsive(pc)
	@include mq(pc) {
		font-size: rm(16);
	}
}

.p-item__imageArea {
	width: 100%;
}

.p-item__image {
	position: relative;
	border-radius: rm(5);
	overflow: hidden;

	&::before {
		display: block;
		position: absolute;
		inset: 0;
		border-radius: rm(5);
		border: rm(2) solid rgba(255, 255, 255, 0.14);
		content: '';
	}

	img {
		aspect-ratio: 168 / 120;

		// ******** responsive(pc)
		@include mq(pc) {
			aspect-ratio: 350 / 217;
		}
	}
}

// ----------------------------
//  モディファイア
// ----------------------------
.p-item__en {
	&.-uppercase {
		text-transform: uppercase;
	}
}
