@use '../global' as *;

.p-reasons {
	position: relative;
	z-index: 2;
	margin-block-start: rm(-44);
	clip-path: polygon(0 0, 50% 2.5%, 100% 0, 100% 100%, 0 100%);

	// ******** responsive(pc)
	@include mq(pc) {
		margin-block-start: rm(-87);
		clip-path: polygon(0 0, 50% 5.5%, 100% 0, 100% 100%, 0 100%);
	}

	&::before {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: rm(455);
		background: url(../img/p-reasons_deco.webp) no-repeat center center / cover;
		content: '';

		// ******** responsive(pc)
		@include mq(pc) {
			background: url(../img/p-reasons_deco.webp) no-repeat center center / cover;
			height: rm(560);
		}
	}
}

.p-reasons__bg {
	position: sticky;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	margin-bottom: -100vh;
	background: url(../img/sp/p-reasons_bg.webp) no-repeat center center / cover;
	z-index: 0;

	// ******** responsive(pc)
	@include mq(pc) {
		background: url(../img/p-reasons_bg.webp) no-repeat center center / cover;
	}
}

.p-reasons__inner {
	position: relative;
	z-index: 3;
	padding-block: rm(86) rm(60) !important;

	// ******** responsive(pc)
	@include mq(pc) {
		padding-block: rm(198) rm(146) !important;
	}
}

.p-reasons__heading {
	padding-inline: rm(20);
}

.p-reasons__lead {
	margin-block-start: rm(8);
	color: $white;
	font-size: rm(16);
	font-weight: 500;
	line-height: 1.8;

	// ******** responsive(pc)
	@include mq(pc) {
		margin-block-start: rm(20);
		font-size: rm(18);
		text-align: center;
	}
}

.p-reasons__content {
	margin-block-start: rm(31);

	// ******** responsive(pc)
	@include mq(pc) {
		margin-block-start: rm(44);
		max-width: rm($pc-narrow-inner);
		margin-inline: auto;
	}
}

.p-reasons__list {
	display: flex;
	flex-direction: column;
	gap: rm(20);

	// ******** responsive(pc)
	@include mq(pc) {
		gap: rm(32);
	}
}

.p-reasons__item {
}
