@use '../global' as *;

// ----------------------------
//  タブ
// ----------------------------
.p-shops {
}

.p-shops__inner {
}

.p-shops__tabs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border-radius: rm(5) rm(5) 0 0;
	overflow: hidden;
}

.p-shops__tab {
	display: grid;
	place-content: center;
	min-height: rm(108);
	background: $color-main;
	color: $white;
	text-align: center;
	font-size: rm(15);
	font-weight: 700;
	line-height: 1.5;
	transition:
		background $easing,
		color $easing;

	&:not(:first-child) {
		border-left: rm(1) solid $white;
	}

	// ******** responsive(pc)
	@include mq(pc) {
		min-height: rm(100);
		padding-block-start: rm(10);
		font-size: rm(18);
	}
}

.p-shops__panels {
	display: grid;
	padding: rm(20) rm(20) rm(28);
	background: $white;
	border-radius: 0 0 rm(5) rm(5);
	overflow: hidden;
	transition: height $easing;

	// ******** responsive(pc)
	@include mq(pc) {
		padding: rm(50);
	}
}

.p-shops__panel {
	grid-area: 1 / 1;
	align-self: start;
	width: 100%;
	min-width: 0;
}

.p-shops__content {
	gap: rm(18);
	display: grid;
	grid-template-areas:
		'image'
		'text';

	// ******** responsive(pc)
	@include mq(pc) {
		grid-template-areas: 'image text';
		gap: rm(40) rm(56);
		grid-template-columns: rm(484) 1fr;
		align-items: center;
	}

	&:has(.p-shops__map) {
		grid-template-areas:
			'image'
			'text'
			'map';

		// ******** responsive(pc)
		@include mq(pc) {
			grid-template-areas:
				'image text'
				'map map';
		}
	}
}

.p-shops__textArea {
	grid-area: text;
}

.p-shops__name {
	font-size: rm(26);
	font-weight: 700;
	line-height: 1.5;

	// ******** responsive(pc)
	@include mq(pc) {
		font-size: rm(32);
	}
}

.p-shops__accessList {
	margin-block-start: rm(16);
}

.p-shops__accessItem {
	font-size: rm(16);
	font-weight: 500;

	// ******** responsive(pc)
	@include mq(pc) {
		font-size: rm(18);
	}
}

.p-shops__accessBody {
	margin-block-start: rm(16);
	padding-block-start: rm(22);
	border-top: rm(1) dashed rgba($color-main, 0.4);
}

.p-shops__accessFootList {
	display: flex;
	flex-direction: column;
	gap: rm(17);
}

.p-shops__accessGroup {
	display: flex;
	align-items: flex-start;
	gap: rm(16);
}

.p-shops__accessGroupTerm {
	flex-shrink: 0;
	width: rm(92);
	padding: rm(6) rm(10) rm(7);
	background: $color-main;
	border-radius: 100vmax;
	color: $white;
	text-align: center;
	font-size: rm(15);
	font-weight: 600;
	line-height: 1;
}

.p-shops__accessGroupData {
	flex-grow: 1;
	font-size: rm(15);
	font-weight: 500;
	line-height: 1.5;
}

.p-shops__accessGroupList {
}

.p-shops__accessGroupItem {
}

.p-shops__accessGroupTel {
	transition: opacity $easing;
}

.p-shops__snsList {
	display: flex;
	gap: rm(7);
	margin-block-start: rm(22);

	// ******** responsive(pc)
	@include mq(pc) {
		margin-block-start: rm(17);
	}
}

.p-shops__snsItem {
}

.p-shops__snsLink {
	position: relative;
	width: rm(46);
	height: rm(46);
	border-radius: 50%;
	transition: opacity $easing;

	&::before {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		mask-position: center center;
		mask-repeat: no-repeat;
		mask-size: contain;
		background: $white;
		content: '';
	}
}

.p-shops__map {
	grid-area: map;
	width: 100%;
	border-radius: rm(5);
	overflow: hidden;
	margin-block-start: rm(-2);

	// ******** responsive()
	@include mq() {
		margin-block-start: rm(-11);
	}

	iframe {
		width: 100%;
		aspect-ratio: 310 / 250;

		// ******** responsive(pc)
		@include mq(pc) {
			aspect-ratio: 1100 / 467;
		}
	}
}

.p-shops__mapButton {
	background: $color-accent-001;
	border-radius: rm(5);
	padding: rm(13) rm(25) rm(16);
	margin-block-start: rm(22);
	transition: background $easing;

	// ******** responsive(pc)
	@include mq(pc) {
		margin-block-start: rm(32);
		padding-block-start: rm(17);
	}
}

.p-shops__mapButtonText {
	display: inline-block;
	position: relative;
	padding-inline-end: rm(32);
	color: $white;
	text-align: center;
	font-size: rm(16);
	font-weight: 700;
	line-height: 1.5;

	// ******** responsive(pc)
	@include mq(pc) {
		font-size: rm(18);
	}

	&::before,
	&::after {
		display: block;
		position: absolute;
		top: 50%;
		translate: 0 -50%;
		transition: translate $easing;
		content: '';
	}

	&::before {
		right: 0;
		width: rm(20);
		height: rm(20);
		background: $white;
		border-radius: 50%;
	}

	&::after {
		right: rm(5);
		@include chevron($size: rm(10), $thickness: 4, $color: $color-accent-001, $direction: right);
	}
}

.p-shops__imageArea {
	grid-area: image;

	// ******** responsive(pc)
	@include mq(pc) {
		width: rm(484);
	}
}

.p-shops__image {
	border-radius: rm(5);
	overflow: hidden;

	img {
		aspect-ratio: 310 / 190;

		// ******** responsive(pc)
		@include mq(pc) {
			aspect-ratio: 484 / 296;
		}
	}
}

.p-shops__mapButton {
	@media (any-hover: hover) {
		&:hover {
			background: #d95b0d;

			.p-shops__mapButtonText {
				&::before,
				&::after {
					translate: rm(5) -50%;
				}
			}
		}
	}
	&:focus {
		outline: none;
	}

	&:focus-visible {
		outline: none;
		background: #d95b0d;

		.p-shops__mapButtonText {
			&::before,
			&::after {
				translate: rm(5) -50%;
			}
		}
	}
}

// ----------------------------
//  スライダー
// ----------------------------
.p-shops__swiper-container,
.p-shops__main-swiper, // ★追加：メインも基準にする
.p-shops__swiper,
.p-shops__swiper-wrapper,
.p-shops__swiper-slide {
	position: relative;
}

.p-shops__swiper-container {
}

.p-shops__main-swiper {
	margin-block-end: rm(6);
}

.p-shops__main-slide {
	width: 100%;
}

.p-shops__mainImage {
	border-radius: rm(5);
	overflow: hidden;

	img {
		width: 100%;
		aspect-ratio: 310 / 190;
	}
}

// ======== サムネイル（既存）
.p-shops__swiper {
}

.p-shops__swiper-wrapper {
}

.p-shops__swiper-slide {
	width: rm(80);
	cursor: pointer;

	// ******** responsive(pc)
	@include mq(pc) {
		width: rm(128);
	}

	&:not(.swiper-slide-active) {
		opacity: 0.5;
	}

	&.swiper-slide-active {
		pointer-events: none;
		cursor: default;
	}
}

.p-shops__slideImage {
	border-radius: rm(5);
	overflow: hidden;

	img {
		aspect-ratio: 128 / 78;
	}
}

// ======== ナビゲーションボタン
.p-shops__swiper-container {
	// 位置のreset
	.swiper-button-prev,
	.swiper-button-next,
	.swiper-pagination-bullets.swiper-pagination-horizontal {
		top: unset;
		bottom: unset;
		left: unset;
		right: unset;
		margin: 0;
		padding: 0;
	}

	.swiper-button-prev::after,
	.swiper-button-next::after,
	.swiper-button-prev svg,
	.swiper-button-next svg {
		display: none;
	}

	.swiper-button-prev,
	.swiper-button-next {
		position: absolute;
		top: rm(72);
		width: rm(24);
		height: rm(46);
		background: rgba(3, 31, 79, 0.6);
		backdrop-filter: blur(rm(3));
		transition:
			background $easing,
			backdrop-filter $easing;

		// ******** responsive(pc)
		@include mq(pc) {
			top: rm(125);
		}

		&::before {
			display: block;
			position: absolute;
			content: '';
		}
	}

	.swiper-button-prev {
		border-radius: rm(0) rm(5) rm(5) rm(0);
		left: 0;

		// ******** responsive(pc)
		@include mq(pc) {
		}

		&::before {
			@include chevron($size: rm(20), $thickness: 3, $color: $white, $direction: left);
		}
	}

	.swiper-button-next {
		right: 0;
		border-radius: rm(5) rm(0) rm(0) rm(5);

		&::before {
			@include chevron($size: rm(20), $thickness: 3, $color: $white, $direction: right);
		}
	}
}

// ----------------------------
//  ホバー
// ----------------------------
.p-shops__tab {
	@media (any-hover: hover) {
		&:hover {
			background: $white;
			color: $color-main;
		}
	}
	&:focus {
		outline: none;
	}

	&:focus-visible {
		outline: none;
		background: $white;
		color: $color-main;
	}
}

.p-shops__snsLink {
	@media (any-hover: hover) {
		&:hover {
			opacity: 0.7;
		}
	}
	&:focus {
		outline: none;
	}

	&:focus-visible {
		outline: none;
		opacity: 0.7;
	}
}

.p-shops__accessGroupTel {
	@media (any-hover: hover) {
		&:hover {
			opacity: 0.7;
		}
	}
	&:focus {
		outline: none;
	}

	&:focus-visible {
		outline: none;
		opacity: 0.7;
	}
}

.p-shops__swiper-container {
	.swiper-button-prev,
	.swiper-button-next {
		@media (any-hover: hover) {
			&:hover {
				backdrop-filter: none;
				background: rgba(3, 31, 79, 1);
			}
		}
		&:focus {
			outline: none;
		}

		&:focus-visible {
			outline: none;
			backdrop-filter: none;
			background: rgba(3, 31, 79, 1);
		}
	}
}

// △▽△▽△▽△▽ JS用クラス
// 非アクティブなパネルの設定
.p-shops__panel {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition:
		opacity $easing,
		visibility 0s linear 0.3s;
}

.js_shopsTab {
	&.is_show {
		background: $white;
		color: $color-main;
		pointer-events: none;
	}
}

.js_shopsPanel {
	&.is_show {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		z-index: 1;
		transition:
			opacity $easing,
			visibility 0s linear 0s;
	}
}

// ----------------------------
//  モーダル
// ----------------------------
.p-shops__modals {
}

.p-shops__modal {
	position: fixed;
	inset: 0;
	z-index: $z-modal;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
	padding: rm(60) rm(20) rm(40);
	visibility: hidden;
	pointer-events: none;
	transition: visibility 0s 0.3s;
}

.p-shops__modalOverlay {
	position: fixed;
	inset: 0;
	border: none;
	padding: 0;
	background: rgba(0, 0, 0, 0.6);
	cursor: pointer;
	opacity: 0;
	transition: opacity $easing;
}

.p-shops__modalInner {
	position: relative;
	z-index: 1;
	flex-shrink: 0;
	width: rm(1000);
	margin-block: auto;
	background: $white;
	opacity: 0;
	transition: opacity $easing;
}

.p-shops__modalClose {
	position: absolute;
	top: rm(-50);
	right: rm(0);
	z-index: 1;
	width: rm(40);
	height: rm(40);
	border: none;
	padding: 0;
	border-radius: 50%;
	background: $white;
	transition: background $easing;
	cursor: pointer;

	&::before,
	&::after {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: rm(20);
		height: rm(2);
		background: $color-main;
		transition: background $easing;
		content: '';
	}

	&::before {
		translate: -50% -50%;
		rotate: 45deg;
	}

	&::after {
		translate: -50% -50%;
		rotate: -45deg;
	}
}

.p-shops__modalMap {
	position: relative;
	width: 100%;
	aspect-ratio: 3 / 2;
}

.p-shops__modalMap iframe {
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
}

// ----------------------------
//  ホバー
// ----------------------------
.p-shops__modalClose {
	@media (any-hover: hover) {
		&:hover {
			background: $color-main;

			&::before,
			&::after {
				background: $white;
			}
		}
	}
	&:focus {
		outline: none;
	}

	&:focus-visible {
		outline: none;
		background: $color-main;

		&::before,
		&::after {
			background: $white;
		}
	}
}

// △▽△▽△▽△▽ JS用クラス
.p-shops__modal {
	&.is_open {
		visibility: visible;
		pointer-events: auto;
		transition: visibility 0s;
	}
}

.p-shops__modal.is_open .p-shops__modalOverlay {
	opacity: 1;
}

.p-shops__modal.is_open .p-shops__modalInner {
	opacity: 1;
}

// ----------------------------
//  モディファイア
// ----------------------------
.p-shops__content {
	&.-start {
		align-items: flex-start;
	}
}

.p-shops__tab {
	&.-tall {
		min-height: rm(128);

		// ******** responsive(pc)
		@include mq(pc) {
			min-height: rm(100);
		}
	}
}
.p-shops__snsLink {
	&.-line {
		background: $color-accent-002;

		&::before {
			width: rm(22);
			height: rm(22);
			mask-image: url(../img/icon_line.svg);
		}
	}

	&.-mail {
		background: #092e6e;

		&::before {
			width: rm(21);
			height: rm(16);
			mask-image: url(../img/icon_mail.svg);
		}
	}
}
